.work-grid {
  display: grid;
  gap: 1rem;
  margin-bottom: 2rem;
  grid-template-areas:
    "tags"
    "banner"
    "title";

  &:last-of-type {
    margin: 0;
  }

  .work-grid-tags {
    grid-area: tags;

    @media only screen and (min-width: $sm) {
      align-self: end;
    }
  }

  .work-grid-title {
    grid-area: title;
  }

  .work-grid-banner {
    grid-area: banner;
  }

  @media only screen and (min-width: $sm) {
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "banner tags"
      "banner title";
  }
}

.work-details-grid {
  display: grid;
  gap: 1rem;
  grid-template-areas:
    "banner"
    "title"
    "description"
    "behance";

  .work-details-title {
    grid-area: title;

    .tag {
      display: inline-block;
      margin-bottom: 1.5rem;
    }

    h1 {
      font-size: 2rem;
    }
  }

  .work-details-banner {
    grid-area: banner;
    width: 100%;
    height: 220px;
    object-fit: cover;

    @media only screen and (min-width: $sm) {
      height: 300px;
    }

    @media only screen and (min-width: $md) {
      height: 390px;
    }
  }

  .work-details-description {
    grid-area: description;

    p {
      margin-bottom: 1rem;

      &:last-of-type {
        margin-bottom: 0;
      }

      @media only screen and (min-width: $sm) {
        margin-bottom: 1.5rem;
      }
    }
  }

  .work-details-behance {
    grid-area: behance;

    h3 {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }

  @media only screen and (min-width: $sm) {
    gap: 2rem;

    grid-template-areas:
      "banner banner banner"
      "title behance description";
  }

  @media only screen and (min-width: $md) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
