.w-100 {
  width: 100%;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.color-white {
  color: $white;
}

.color-primary {
  color: $primary-color;
}

.contact-info {
  display: flex;
  flex-direction: column;
  font-size: 0.75rem;
  span:first-child {
    color: $primary-color;
    text-transform: uppercase;
  }

  @media only screen and (min-width: $sm) {
    font-size: 1rem;
  }
}

.background-banner {
  background-image: url(../assets/images/bg.png);
  background-size: cover;
}

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: $sm) {
    width: 100%;
    max-width: 1280px;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

.section-description {
  font-weight: 500;
  font-size: 1rem;

  @media only screen and (min-width: $sm) {
    font-size: 2rem;
    max-width: 850px;
  }
}

.page-sub-description {
  font-size: 0.8rem;
  font-weight: 200;

  @media only screen and (min-width: $sm) {
    font-size: 1.6rem;
  }
}

.section-content {
  margin: 1rem 0 2rem;
}

.divider {
  border-bottom: 2px solid $separator;
  margin: 1.5rem 0;
}

.work-card {
  > img {
    width: 100%;
  }
}

.text-highlight {
  color: $primary-color;
  font-style: italic;
}

.italic {
  font-style: italic;
}
