@import "styles/colors";
@import "styles/footer";
@import "styles/header";
@import "styles/sections";
@import "styles/grid";
@import "styles/shared";
@import "styles/margin-padding";

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.text-highlight {
  color: $primary-color;
  font-style: italic;
}

.container {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-left: auto;
  margin-right: auto;

  @media only screen and (min-width: 600px) {
    width: 100%;
    max-width: 1280px;
    padding: 1rem 3rem;
  }
}

#mobile-menu {
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.3);
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 100vw;
  right: -100vw;
  transition: ease 0.3s;
  font-size: 1.5rem;

  .mobile-menu-header {
    display: flex;
    justify-content: end;
    height: 3rem;

    button {
      background: none;
      border: none;
      padding: 0;
    }
  }

  ul {
    li {
      margin-bottom: 1rem;

      :last-child {
        margin-bottom: 0;
      }
    }
  }
}

nav {
  ul {
    padding: 0;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
      }
    }
  }
}

.section-background {
  background-image: url(images/bg.png);
}
