@import "styles/colors";
@import "styles/consts";
@import "styles/footer";
@import "styles/header";
@import "styles/sections";
@import "styles/grid";
@import "styles/shared";
@import "styles/margin-padding";
@import "styles/mobile-menu";
@import "styles/contact";

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  ul {
    padding: 0;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
      }
    }
  }
}
