footer {
  color: white;
  padding: 0.9rem 0;
  margin-top: 1.5rem;
  font-size: 0.6rem;
}
@media only screen and (min-width: 600px) {
  footer {
    font-size: 1rem;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-about-me-container {
  padding-bottom: 3rem;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: auto;
  grid-template-columns: auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
      grid-template-areas: "title" "pic" "description";
}
header .header-about-me-container h1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  font-weight: 300;
  grid-area: title;
}
header .header-about-me-container .about-me-description {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: description;
}
header .header-about-me-container .profile-pic {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -o-object-position: top center;
     object-position: top center;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
  max-height: 285px;
  max-width: 325px;
  width: 100%;
  margin: 0 auto;
  grid-area: pic;
}
@media only screen and (min-width: 600px) {
  header .header-about-me-container {
    margin-top: 3rem;
    gap: 3rem;
    -ms-grid-columns: 1fr 3rem 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto 3rem auto;
        grid-template-areas: "pic title" "pic description";
  }
  header .header-about-me-container .profile-pic {
    max-height: unset;
  }
  header .header-about-me-container h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  header .header-about-me-container .about-me-description {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  header .header-about-me-container .profile-pic {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
  }
}
header .active-page {
  color: #1530ec;
  font-weight: 600;
}
header a {
  color: #000000;
  text-decoration: none;
}
header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}
header .header-container .logo {
  text-transform: uppercase;
  font-size: 1.1rem;
}
header .header-container .menu-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
header .header-container .menu-button img {
  width: 3rem;
}
header .header-arrow {
  cursor: pointer;
  -webkit-animation: arrowRepeatingAnimation 2s infinite ease-in-out forwards;
          animation: arrowRepeatingAnimation 2s infinite ease-in-out forwards;
}
header .desktop-header-arrow {
  cursor: pointer;
  display: none;
  max-width: 16rem;
}
@media only screen and (min-width: 600px) {
  header .desktop-header-arrow {
    display: unset;
  }
}
header .header-content {
  padding-top: 2.3rem;
  padding-bottom: 3rem;
}
header .header-content h1 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
  line-height: 4rem;
}
@media only screen and (min-width: 600px) {
  header .header-content .arrows-container {
    text-align: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}
@media only screen and (min-width: 600px) {
  header .header-content {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
header nav {
  display: none;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav ul li {
  margin-left: 1rem;
}
@media only screen and (min-width: 600px) {
  header .header-container {
    border-bottom: 2px solid #000000;
  }
  header .header-container .menu-button {
    display: none;
  }
  header nav {
    display: unset;
  }
  header .desktop-header-arrow + .header-arrow {
    display: none;
  }
}

header.background-banner {
  color: #ffffff;
}
header.background-banner a {
  color: #ffffff;
  text-decoration: none;
}
header.background-banner .header-container {
  border-color: #ffffff;
}
header.background-banner .logo a {
  color: #ffffff;
}

@-webkit-keyframes arrowRepeatingAnimation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1.25rem);
            transform: translateY(1.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes arrowRepeatingAnimation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1.25rem);
            transform: translateY(1.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.section-title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.section-title img {
  font-size: 1.25rem;
  margin-right: 0.3rem;
}
@media only screen and (min-width: 600px) {
  .section-title {
    font-size: 1.25rem;
  }
}

.services-section-description {
  font-size: 2rem;
  margin-top: 2rem;
}

@media only screen and (min-width: 600px) {
  .services-section-redirect-arrow-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

.services-section-redirect-arrow {
  width: 2rem;
}
@media only screen and (min-width: 600px) {
  .services-section-redirect-arrow {
    width: 3rem;
  }
}

.restaura-jeans-banner {
  background-image: url(images/restaura-jeans-banner.png);
  background-size: cover;
  height: 220px;
}

.restaura-jeans-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  line-height: 2rem;
}
.restaura-jeans-title a {
  color: #000000;
  text-decoration: none;
}
.restaura-jeans-title img {
  width: 0.9rem;
}
@media only screen and (min-width: 600px) {
  .restaura-jeans-title {
    font-size: 3rem;
    line-height: 4rem;
  }
  .restaura-jeans-title img {
    width: 1.8rem;
  }
}

.contact-section-links {
  list-style-type: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 0;
}
.contact-section-links li {
  margin-bottom: 0.75rem;
}
.contact-section-links li :last-child {
  margin-bottom: 0;
}
.contact-section-links img {
  width: 0.6rem;
}
.contact-section-links a {
  color: #000000;
  text-decoration: none;
}
@media only screen and (min-width: 600px) {
  .contact-section-links {
    font-size: 1.25rem;
  }
  .contact-section-links img {
    width: 0.8rem;
  }
}

.experience-section {
  margin-bottom: 2rem;
}
.experience-section h2 {
  font-size: 1.5rem;
  font-weight: 500;
}
.experience-section .experience-section-item {
  border-bottom: 2px solid #1f1f1f;
  padding: 1.5rem 0 2rem;
  display: -ms-grid;
  display: grid;
  gap: 0.75rem;
}
.experience-section .experience-section-item h3 {
  font-size: 1rem;
  font-weight: 500;
}
.experience-section .experience-section-item .experience-section-item-tags {
  margin: 0.75rem 0;
}
.experience-section .experience-section-item .experience-section-item-tags > span {
  font-size: 0.75rem;
  font-weight: 500;
  border: 1.5px solid #1530ec;
  border-radius: 2rem;
  padding: 0.25rem 1.2rem;
  margin-right: 0.8rem;
}
.experience-section .experience-section-item .experience-section-item-tags > span :last-child {
  margin: 0;
}
.experience-section .experience-section-item .experience-section-item-details {
  text-transform: uppercase;
  font-size: 0.75rem;
}
.experience-section .experience-section-item .experience-section-item-description {
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
}
@media only screen and (min-width: 600px) {
  .experience-section .experience-section-item {
        grid-template-areas: "title details" "tags description";
  }
  .experience-section .experience-section-item h3 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
  }
  .experience-section .experience-section-item .experience-section-item-tags {
    grid-area: tags;
  }
  .experience-section .experience-section-item .experience-section-item-details {
    grid-area: details;
  }
  .experience-section .experience-section-item .experience-section-item-description {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
    grid-area: description;
  }
  @media only screen and (min-width: 600px) {
  .experience-section .experience-section-item h3 {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
  }
  .experience-section .experience-section-item > h3 {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
  }
  .experience-section .experience-section-item .experience-section-item-tags {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
  }
  .experience-section .experience-section-item .experience-section-item-details {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
  }
  .experience-section .experience-section-item .experience-section-item-description {
      -ms-grid-row: 3;
      -ms-grid-column: 3;
  }
  .experience-section .experience-section-item > .experience-section-item-description {
      -ms-grid-row: 2;
      -ms-grid-column: 2;
  }
  }
  .experience-section .experience-section-item > h1 {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .experience-section .experience-section-item > .about-me-description {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }
}

.responsive-grid-50-50 {
  display: -ms-grid;
  display: grid;
  gap: 2rem;
}
@media only screen and (min-width: 600px) {
  .responsive-grid-50-50 {
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

.grid-50-50 {
  display: -ms-grid;
  display: grid;
  gap: 1.5rem;
}

.w-100 {
  width: 100%;
}

.vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.color-white {
  color: #ffffff;
}

.color-primary {
  color: #1530ec;
}

.contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 0.75rem;
}
.contact-info span:first-child {
  color: #1530ec;
  text-transform: uppercase;
}
@media only screen and (min-width: 600px) {
  .contact-info {
    font-size: 1rem;
  }
}

.background-banner {
  background-image: url(images/bg.png);
  background-size: cover;
}

.container {
  width: 100%;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 600px) {
  .container {
    width: 100%;
    max-width: 1280px;
    padding-right: 4rem;
    padding-left: 4rem;
  }
}

.section-description {
  font-weight: 500;
  font-size: 1rem;
}
@media only screen and (min-width: 600px) {
  .section-description {
    font-size: 2rem;
    max-width: 850px;
  }
}

.page-sub-description {
  font-size: 0.8rem;
  font-weight: 200;
}
@media only screen and (min-width: 600px) {
  .page-sub-description {
    font-size: 1.6rem;
  }
}

.section-content {
  margin: 1rem 0 2rem;
}

.divider {
  border-bottom: 2px solid #1f1f1f;
  margin: 1.5rem 0;
}

.work-link {
  font-size: 1.25rem;
  font-weight: 400;
  text-decoration: none;
  color: #000000;
}
.work-link img {
  width: 0.8rem;
}

.work-card > img {
  width: 100%;
}

.text-highlight {
  color: #1530ec;
  font-style: italic;
}

.italic {
  font-style: italic;
}

.font-w-500 {
  font-weight: 500;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.mt-6 {
  margin-top: 6rem;
}

.mt-7 {
  margin-top: 7rem;
}

.mt-8 {
  margin-top: 8rem;
}

.mt-9 {
  margin-top: 9rem;
}

.mt-10 {
  margin-top: 10rem;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-3 {
  margin-right: 3rem;
}

.mr-4 {
  margin-right: 4rem;
}

.mr-5 {
  margin-right: 5rem;
}

.mr-6 {
  margin-right: 6rem;
}

.mr-7 {
  margin-right: 7rem;
}

.mr-8 {
  margin-right: 8rem;
}

.mr-9 {
  margin-right: 9rem;
}

.mr-10 {
  margin-right: 10rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mb-3 {
  margin-bottom: 3rem;
}

.mb-4 {
  margin-bottom: 4rem;
}

.mb-5 {
  margin-bottom: 5rem;
}

.mb-6 {
  margin-bottom: 6rem;
}

.mb-7 {
  margin-bottom: 7rem;
}

.mb-8 {
  margin-bottom: 8rem;
}

.mb-9 {
  margin-bottom: 9rem;
}

.mb-10 {
  margin-bottom: 10rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}

.ml-3 {
  margin-left: 3rem;
}

.ml-4 {
  margin-left: 4rem;
}

.ml-5 {
  margin-left: 5rem;
}

.ml-6 {
  margin-left: 6rem;
}

.ml-7 {
  margin-left: 7rem;
}

.ml-8 {
  margin-left: 8rem;
}

.ml-9 {
  margin-left: 9rem;
}

.ml-10 {
  margin-left: 10rem;
}

.m-1 {
  margin: 1rem;
}

.m-2 {
  margin: 2rem;
}

.m-3 {
  margin: 3rem;
}

.m-4 {
  margin: 4rem;
}

.m-5 {
  margin: 5rem;
}

.m-6 {
  margin: 6rem;
}

.m-7 {
  margin: 7rem;
}

.m-8 {
  margin: 8rem;
}

.m-9 {
  margin: 9rem;
}

.m-10 {
  margin: 10rem;
}

.pt-1 {
  padding-top: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pt-4 {
  padding-top: 4rem;
}

.pt-5 {
  padding-top: 5rem;
}

.pt-6 {
  padding-top: 6rem;
}

.pt-7 {
  padding-top: 7rem;
}

.pt-8 {
  padding-top: 8rem;
}

.pt-9 {
  padding-top: 9rem;
}

.pt-10 {
  padding-top: 10rem;
}

.pr-1 {
  padding-right: 1rem;
}

.pr-2 {
  padding-right: 2rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pr-4 {
  padding-right: 4rem;
}

.pr-5 {
  padding-right: 5rem;
}

.pr-6 {
  padding-right: 6rem;
}

.pr-7 {
  padding-right: 7rem;
}

.pr-8 {
  padding-right: 8rem;
}

.pr-9 {
  padding-right: 9rem;
}

.pr-10 {
  padding-right: 10rem;
}

.pb-1 {
  padding-bottom: 1rem;
}

.pb-2 {
  padding-bottom: 2rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pb-4 {
  padding-bottom: 4rem;
}

.pb-5 {
  padding-bottom: 5rem;
}

.pb-6 {
  padding-bottom: 6rem;
}

.pb-7 {
  padding-bottom: 7rem;
}

.pb-8 {
  padding-bottom: 8rem;
}

.pb-9 {
  padding-bottom: 9rem;
}

.pb-10 {
  padding-bottom: 10rem;
}

.pl-1 {
  padding-left: 1rem;
}

.pl-2 {
  padding-left: 2rem;
}

.pl-3 {
  padding-left: 3rem;
}

.pl-4 {
  padding-left: 4rem;
}

.pl-5 {
  padding-left: 5rem;
}

.pl-6 {
  padding-left: 6rem;
}

.pl-7 {
  padding-left: 7rem;
}

.pl-8 {
  padding-left: 8rem;
}

.pl-9 {
  padding-left: 9rem;
}

.pl-10 {
  padding-left: 10rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

.p-4 {
  padding: 4rem;
}

.p-5 {
  padding: 5rem;
}

.p-6 {
  padding: 6rem;
}

.p-7 {
  padding: 7rem;
}

.p-8 {
  padding: 8rem;
}

.p-9 {
  padding: 9rem;
}

.p-10 {
  padding: 10rem;
}

#mobile-menu {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.8);
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 100vw;
  right: -100vw;
  -webkit-transition: ease 0.2s;
  transition: ease 0.2s;
  font-size: 1.5rem;
  padding: 1.5rem;
}
#mobile-menu .mobile-menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 3rem;
  margin-bottom: 1rem;
}
#mobile-menu .mobile-menu-header button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}
#mobile-menu ul li {
  margin-bottom: 1rem;
}
#mobile-menu ul li :last-child {
  margin-bottom: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav ul {
  padding: 0;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
}