footer {
  background-image: url(images/bg.png);
  color: white;
  padding: 0.9rem 0;
  margin-top: 1.5rem;
  font-size: 0.6rem;
}
@media only screen and (min-width: 600px) {
  footer {
    font-size: 1rem;
  }
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 0;
}
header .header-container .logo {
  text-transform: uppercase;
  font-size: 1.1rem;
}
header .header-container .menu-button {
  background: none;
  border: none;
  padding: 0;
}
header .header-container .menu-button img {
  width: 3rem;
}
header .header-content {
  padding-top: 2.3rem;
  padding-bottom: 3rem;
}
header .header-content h1 {
  font-size: 3.5rem;
  font-weight: 400;
  margin-bottom: 2rem;
}
header .header-content .header-arrow {
  -webkit-animation: arrowRepeatingAnimation 2s infinite ease-in-out forwards;
          animation: arrowRepeatingAnimation 2s infinite ease-in-out forwards;
}
header nav {
  display: none;
}
header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header nav ul li {
  margin-left: 1rem;
}
@media only screen and (min-width: 600px) {
  header .header-container {
    border-bottom: 3px solid #000000;
  }
  header .header-container .menu-button {
    display: none;
  }
  header nav {
    display: unset;
  }
  header .header-arrow {
    display: none;
  }
}

header.section-background {
  color: #fff;
}
header.section-background ul a {
  color: #fff;
}
header.section-background .header-container {
  border-color: #fff;
}

@-webkit-keyframes arrowRepeatingAnimation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1.25rem);
            transform: translateY(1.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes arrowRepeatingAnimation {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(1.25rem);
            transform: translateY(1.25rem);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.page-title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.page-title img {
  font-size: 1.25rem;
  margin-right: 0.3rem;
}
@media only screen and (min-width: 600px) {
  .page-title {
    font-size: 1.25rem;
  }
}

.page-description {
  font-weight: 500;
  font-size: 1rem;
}
@media only screen and (min-width: 600px) {
  .page-description {
    font-size: 2rem;
  }
}

.page-description-subtitle {
  font-size: 0.8rem;
  font-weight: 200;
  margin-top: 1rem;
}
@media only screen and (min-width: 600px) {
  .page-description-subtitle {
    font-size: 1.6rem;
  }
}

.page-description-container {
  border-bottom: 1.5px solid #1f1f1f;
  padding: 1.5rem 0;
  margin-bottom: 1rem;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.text-highlight {
  color: #1530ec;
  font-style: italic;
}

.container {
  width: 100%;
  padding-right: 2rem;
  padding-left: 2rem;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 600px) {
  .container {
    width: 100%;
    max-width: 1280px;
    padding: 1rem 3rem;
  }
}

#mobile-menu {
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.3);
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  width: 100vw;
  right: -100vw;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  font-size: 1.5rem;
}
#mobile-menu .mobile-menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 3rem;
}
#mobile-menu .mobile-menu-header button {
  background: none;
  border: none;
  padding: 0;
}
#mobile-menu ul li {
  margin-bottom: 1rem;
}
#mobile-menu ul li :last-child {
  margin-bottom: 0;
}

nav ul {
  padding: 0;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
}

.section-title {
  border-bottom: 3px solid #000000;
  padding: 0.8rem 0;
  font-weight: 400;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.section-background {
  background-image: url(images/bg.png);
}