.section-title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-flex;
  align-items: center;

  img {
    font-size: 1.25rem;
    margin-right: 0.3rem;
  }

  @media only screen and (min-width: $mobile-breakpoint) {
    font-size: 1.25rem;
  }
}

.services-section-description {
  font-size: 2rem;
  margin-top: 2rem;
}

.services-section-redirect-arrow-container {
  @media only screen and (min-width: $mobile-breakpoint) {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
  }
}

.services-section-redirect-arrow {
  width: 2rem;

  @media only screen and (min-width: $mobile-breakpoint) {
    width: 3rem;
  }
}

.restaura-jeans-banner {
  background-image: url(images/restaura-jeans-banner.png);
  background-size: cover;
  height: 220px;
}

.restaura-jeans-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  line-height: 2rem;

  a {
    color: $black;
    text-decoration: none;
  }

  img {
    width: 0.9rem;
  }

  @media only screen and (min-width: $mobile-breakpoint) {
    font-size: 3rem;
    line-height: 4rem;

    img {
      width: 1.8rem;
    }
  }
}

.contact-section-links {
  list-style-type: none;
  font-size: 1rem;
  font-weight: 400;
  padding: 0;

  li {
    margin-bottom: 0.75rem;

    :last-child {
      margin-bottom: 0;
    }
  }

  img {
    width: 0.6rem;
  }

  a {
    color: $black;
    text-decoration: none;
  }

  @media only screen and (min-width: $mobile-breakpoint) {
    font-size: 1.25rem;
    img {
      width: 0.8rem;
    }
  }
}

.experience-section {
  margin-bottom: 2rem;

  h2 {
    font-size: 1.5rem;
    font-weight: 500;
  }

  .experience-section-item {
    border-bottom: 2px solid $separator;
    padding: 1.5rem 0 2rem;
    display: grid;
    gap: 1rem;

    h3 {
      font-size: 1rem;
      font-weight: 500;
    }

    .experience-section-item-tags {
      > span {
        font-size: 0.75rem;
        font-weight: 500;
        border: 1.5px solid $primary-color;
        border-radius: 2rem;
        padding: 0.25rem 1.2rem;
        margin-right: 0.8rem;

        :last-child {
          margin: 0;
        }
      }
    }

    .experience-section-item-details {
      text-transform: uppercase;
      font-size: 0.75rem;
    }

    .experience-section-item-description {
      font-size: 0.9rem;
      text-transform: uppercase;
      font-weight: 500;
    }

    @media only screen and (min-width: $mobile-breakpoint) {
      grid-template-areas:
        "title details"
        "tags description";

      h3 {
        grid-area: title;
      }

      .experience-section-item-tags {
        grid-area: tags;
      }

      .experience-section-item-details {
        grid-area: details;
      }

      .experience-section-item-description {
        grid-area: description;
      }
    }
  }
}
