.section-title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 400;
  display: inline-flex;
  align-items: center;

  img {
    font-size: 1.25rem;
    margin-right: 0.3rem;
  }

  @media only screen and (min-width: $mobile-breakpoint) {
    font-size: 1.25rem;
  }
}

.services-section-description {
  font-size: 2rem;
  margin: 2rem 0;
}

.services-section-redirect-arrow {
  width: 2rem;
}

.restaura-jeans-banner {
  background-image: url(images/restaura-jeans-banner.png);
  background-size: cover;
  height: 220px;
}

.restaura-jeans-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0;
  line-height: 2rem;

  img {
    width: 0.9rem;
  }

  @media only screen and (min-width: $mobile-breakpoint) {
    font-size: 3rem;
    line-height: 4rem;

    img {
      width: 1.8rem;
    }
  }
}
