@import "styles/variables/colors";
@import "styles/variables/consts";

@import "styles/components/footer";
@import "styles/components/header";
@import "styles/components/mobile-menu";
@import "styles/components/button";
@import "styles/components/link";
@import "styles/components/tag";

@import "styles/shared/sections";
@import "styles/shared/grid";
@import "styles/shared/misc";
@import "styles/shared/margin-padding";
@import "styles/shared/font-weight";
@import "styles/shared/input-form";

@import "styles/pages/contact";
@import "styles/pages/work";

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  ul {
    padding: 0;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
      }
    }
  }
}
