@import "variables/colors";
@import "variables/consts";

@import "components/footer";
@import "components/header";
@import "components/mobile-menu";
@import "components/button";
@import "components/link";
@import "components/tag";

@import "shared/sections";
@import "shared/grid";
@import "shared/misc";
@import "shared/margin-padding";
@import "shared/font-weight";
@import "shared/input-form";

@import "pages/contact";
@import "pages/work";

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

nav {
  ul {
    padding: 0;

    li {
      list-style-type: none;

      a {
        text-decoration: none;
      }
    }
  }
}
